<div class="container" ng-controller="RoomsMainCtrl">
	<div class="col-md-10">
		<div ng-repeat="room in RoomsRtc.rooms" class="col-md-12 room">
			<div class="page-header">
				<div>
					<a type="button" class="btn btn-link" ng-click="CtrlClient.chatTarget=room;visible=true" uib-tooltip="{{'PAGE.ROOMS.CHAT.OPEN'|translate}}">
						<h3 ng-bind="room.Name" class="room-title"></h3>
						<i class="fa fa-comments fa-3x"></i>
					</a>
					<div class="pull-right" ng-if="room.IsOwner">
						<button ng-click="Dialog.openManageRoomNameDialog(room)" type="button" class="btn btn-link">
							<i class="fa fa-pencil"></i>
							<span class="hidden-xs" ng-bind="'PAGE.ROOMS.OPEN_SET_ROOM'|translate"></span>
						</button>
						<button ng-click="Dialog.openManageDelRoomDialog(room)" type="button" class="btn btn-danger">
							<i class="fa fa-trash"></i>
							<span class="hidden-xs" ng-bind="'PAGE.ROOMS.OPEN_DEL_ROOM'|translate"></span>
						</button>
						<button ng-click="Dialog.openManageNewInviteUrlDialog(room)" type="button" class="btn btn-default btn-success">
							<i class="fa fa-share-alt"></i>
							<span class="hidden-xs" ng-bind="'PAGE.ROOMS.OPEN_INVITE_CODE'|translate"></span>
						</button>
						<button ng-click="Dialog.openManageNewIpcamDialog(room)" type="button" class="btn btn-default btn-success">
							<i class="fa fa-plus"></i>
							<span class="hidden-xs" ng-bind="'PAGE.ROOMS.OPEN_NEW_IPCAM'|translate"></span>
						</button>
					</div>
					<p>
						<small ng-if="room.UpdatedAt" am-time-ago="room.UpdatedAt"></small>
					</p>
				</div>
				<p ng-if="room.Desc" ng-bind="room.Desc"></p>
			</div>
			<div ng-if="camera.Online||room.IsOwner" ng-repeat="camera in room.Cameras">
				<div>
					<h4 ng-if="!room.IsOwner" ng-bind="camera.Id" class="room-title"></h4>
					<!-- camera.disabled used when setting camera. see dialog-factory.js -->
					<a ng-if="room.IsOwner" type="button" class="btn btn-link" ng-disabled="camera.disabled" ng-click="Dialog.openManageIpcamDialog(room,camera)">
						<i class="fa fa-pencil"></i>
						<h4 ng-bind="camera.Id" class="room-title"></h4>
					</a>
					<div class="pull-right" ng-if="room.IsOwner">
						<button type="button" class="btn btn-default btn-warning" ng-click="Dialog.openManageDelIpcamDialog(room,camera)">
							<i class="fa fa-trash"></i>
							<span class="hidden-xs" ng-bind="'PAGE.ROOMS.OPEN_DEL_CAM'|translate"></span>
						</button>
					</div>
					<p>
						<small ng-if="camera.UpdatedAt" am-time-ago="camera.UpdatedAt"></small>
					</p>
				</div>
				<rtc-videojs room="room" camera="camera"></rtc-videojs>
			</div>
		</div>
	</div>
	<div sidenav-ignore>
		<irontec-simple-chat messages="CtrlClient.chats" username="CtrlClient.username" to="CtrlClient.chatTarget.name" input-placeholder-text="You can write here" submit-button-text="Send" title="Chat" theme="material" visible="visible" submit-function="CtrlClient.chat">
		</irontec-simple-chat>
	</div>
</div>
