<div class="container" ng-controller="RoomsMainCtrl">
	<div class="col-md-10">
		<div ng-repeat="room in RoomsRtc.rooms" class="col-md-12 room">
			<div class="page-header">
				<div>
					<a type="button" class="btn btn-link" ng-click="CtrlClient.chatTarget=room;visible=true" uib-tooltip="{{'PAGE.ROOMS.CHAT.OPEN'|translate}}">
						<h3 ng-bind="room.Name" class="room-title"></h3>
						<i class="fa fa-comments fa-3x"></i>
					</a>
					<div class="pull-right" ng-if="room.IsOwner">
						<button ng-click="Dialog.openManageRoomNameDialog(room)" type="button" class="btn btn-link">
							<i class="fa fa-pencil"></i>
							<span class="hidden-xs" ng-bind="'PAGE.ROOMS.OPEN_SET_ROOM'|translate"></span>
						</button>
						<button ng-click="Dialog.openManageDelRoomDialog(room)" type="button" class="btn btn-danger">
							<i class="fa fa-trash"></i>
							<span class="hidden-xs" ng-bind="'PAGE.ROOMS.OPEN_DEL_ROOM'|translate"></span>
						</button>
						<button ng-click="Dialog.openManageNewInviteUrlDialog(room)" type="button" class="btn btn-default btn-success">
							<i class="fa fa-share-alt"></i>
							<span class="hidden-xs" ng-bind="'PAGE.ROOMS.OPEN_INVITE_CODE'|translate"></span>
						</button>
						<button ng-click="Dialog.openManageNewIpcamDialog(room)" type="button" class="btn btn-default btn-success">
							<i class="fa fa-plus"></i>
							<span class="hidden-xs" ng-bind="'PAGE.ROOMS.OPEN_NEW_IPCAM'|translate"></span>
						</button>
					</div>
					<p>
						<small ng-if="room.UpdatedAt" am-time-ago="room.UpdatedAt"></small>
					</p>
				</div>
				<p ng-if="room.Desc" ng-bind="room.Desc"></p>
			</div>

			<div ng-repeat="camera in room.cameras">
				<h4 ng-if="!room.IsOwner" ng-bind="camera.Id" class="room-title"></h4>
				<div ng-if="room.IsOwner">
					<!-- see dialog-factory.js for Dialog.waitOpenDialog -->
					<a type="button" class="btn btn-link" ng-disabled="Dialog.waitOpenDialog" ng-click="Dialog.openManageIpcamDialog(room,camera.Id)">
						<i class="fa fa-pencil"></i>
						<h4 ng-bind="camera.Id" class="room-title"></h4>
					</a>
					<div class="pull-right">
						<button type="button" class="btn btn-default btn-warning" ng-click="Dialog.openManageDelIpcamDialog(room,camera)">
							<i class="fa fa-trash"></i>
							<span class="hidden-xs" ng-bind="'PAGE.ROOMS.OPEN_DEL_CAM'|translate"></span>
						</button>
					</div>
				</div>
				<p>
					<small ng-if="camera.UpdatedAt" am-time-ago="camera.UpdatedAt"></small>
				</p>
				<rtc-videojs room="room" camera="camera"></rtc-videojs>
				<div class="room-bottom"> </div>
			</div>

			<div ng-if="!room.IsOwner">
				<h4 ng-repeat="offId in room.offlineIds" ng-bind="offId"> </h4>
			</div>
			<div ng-if="room.IsOwner">
				<div ng-repeat="offId in room.offlineIds">
					<a type="button" class="btn btn-link" ng-disabled="Dialog.waitOpenDialog" ng-click="Dialog.openManageIpcamDialog(room,offId)">
						<i class="fa fa-pencil"></i>
						<h4 ng-bind="offId" class="room-title"></h4>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
