<div ng-controller="DlMainCtrl" class="container">
  <div class="download-header">
    <h4 ng-bind="'PAGE.DOWNLOAD.DESC'|translate" class="col-md-9"></h4>
    <div class="col-md-3">
      <div class="btn-group pull-right" uib-dropdown>
        <button type="button" class="btn btn-primary" uib-dropdown-toggle>
          <span translate="PAGE.DOWNLOAD.OS"></span>:
          <span class="caret"></span>
        </button>
        <ul class="uib-dropdown-menu" role="menu">
          <li ng-repeat="os in supportedOs">
            <a ng-click="setOs(os)" ng-bind="os"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div ng-repeat="data in datas|filterBy:['os']:currentOs" class="media download-panel row">
    <div class="media-left">
      <img data-holder-rendered="true" src="[[cdnImg]]/ic-client-50x60.png" class="media-object">
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <span ng-bind="data[currentLang].name"></span>
        -
        <span ng-bind="data[currentLang].version"></span>
      </h4>
      <hr>
      <div class="col-md-6 pull-left">
        <span class="label label-default" ng-bind="data.size"></span>
        <span translate="PAGE.DOWNLOAD.PUB_TIME"></span>:
        <span ng-bind="data.time|date:'yyyy-MM-dd HH:mm:ss'"></span>
      </div>
      <div class="col-md-6">
        <div class="pull-right download-btns">
          <p ng-bind="data.os"></p>
          <a ng-disabled="!data.url.bit32" ng-attr-href="{{data.url.bit32}}" target="_blank">
            <i class="fa fa-download"></i> 32
            <span translate="PAGE.DOWNLOAD.BIT"></span>
          </a>
          |
          <a ng-disabled="!data.url.bit64" ng-attr-href="{{data.url.bit64}}" target="_blank">
            <i class="fa fa-download"></i> 64
            <span translate="PAGE.DOWNLOAD.BIT"></span>
          </a>
        </div>
      </div>
      <span class="col-md-9" ng-bind="data[currentLang].desc"></span>
    </div>
  </div>
</div>
