<div class="ngdialog-message">
	<h3 sidenav-ignore ng-bind="'PAGE.JOIN.INVITE_CODE'|translate"></h3>
</div>
<form>
	<div class="form-group">
		<label ng-bind="'PAGE.JOIN.FORM.CODE'|translate" class="col-sm-2 control-label"></label>
		<div class="col-sm-10">
			<p ng-bind="invite.code" class="form-control-static"></p>
		</div>
	</div>
	<div class="form-group">
		<label ng-bind="'PAGE.JOIN.FORM.URL'|translate" class="col-sm-2 control-label"></label>
		<div class="col-sm-10">
			<p ng-bind="invite.url" class="form-control-static"></p>
		</div>
	</div>
	<div class="ngdialog-buttons">
		<button type="submit" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog()">
			<span ng-bind="'BTN.OK'|translate"></span>
		</button>
	</div>
</form>
