body {
  background-color: skyblue;
  padding-top: 30px;
}
body .header-placeholder {
  display: none;
}
h1 {
  padding-top: 50px;
  font-size: 70px;
}
h2 {
  padding: 20px;
  font-size: 30px;
}
body button.pb-pattern.btn-start {
  margin-top: 70px;
  margin-bottom: 20px;
  text-align: center;
  display: inline-block;
  padding: 12px 25px;
  font-size: 21px;
  width: auto;
  border: none;
  box-shadow: 0 0 0px 8px rgba(0, 0, 0, 0.2);
  background-color: lightcoral;
  outline-color: 0px solid transparent !important;
}
body button.pb-pattern.btn-start:after {
  background-size: 6px;
  opacity: 0.3;
}
body button.pb-pattern.btn-start:hover {
  outline-color: 0px solid transparent !important;
}
body button.pb-pattern.btn-start:hover:after {
  -webkit-transition: background-size 0.1s ease-in-out;
  -moz-transition: background-size 0.1s ease-in-out;
  -ms-transition: background-size 0.1s ease-in-out;
  -o-transition: background-size 0.1s ease-in-out;
  transition: background-size 0.1s ease-in-out;
  background-size: 12px;
  box-shadow: 0 0 0px 8px rgba(0, 0, 0, 0.25);
}
body button.pb-pattern.btn-start:focus, body button.pb-pattern.btn-start:active {
  outline-color: 0px solid transparent !important;
}
body button.pb-pattern.btn-start.dwnld {
  background-color: lightskyblue;
}
body button.pb-pattern.btn-start a {
  text-decoration: none;
  color: inherit;
}
body nav a {
  color: #222222;
}
body nav a:hover {
  text-decoration: none;
}
.social-links {
  font-size: 2em;
}
.section-inner {
  padding: 50px 0;
}
.intro {
  background-color: #3c9;
}
.intro:after {
  background-size: 20px;
  opacity: 0.75;
}
.unsupported {
  background-color: #343434;
}
.feature {
  background-color: #FF0;
}
.feature:after {
  background-size: 5px;
}
.feature-text {
  line-height: 14em;
  font-size: 0.3em;
}
code {
  display: block;
  margin: 20px 0;
}
