.sidebar {
	position: fixed;
	top: 0px;
	color: #2C3E50;
}

video {
	max-height: 100%;
	max-width: 100%;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.room-title {
	display: inline-block;
}

.sidebar {
	top: 100px;
}
