body {
  padding-top: 50px;
}
a[ng-click], a[dropdown-toggle] {
  cursor: pointer;
}
.text-center {
  text-align: center;
}
.ic-navbar-brand>img {
  top: -15px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.ic-navbar-brand>span {
  position: relative;
  top: -13px;
}
