<div id="body">
</div>
<footer id="footer" class="hidden-xs">
  <div class="row" style="text-align: center;">
    <div class="col-md-12" style="text-align: center;" ng-bind="'PAGE.INDEX.BROWSER_TIP'|translate"></div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6" style="text-align: center;">
      <a target="_blank" href="http://www.firefox.com.cn/download/" title="Firefox">
        <img src="http://goodluck.qiniudn.com/firefox_256x256.png" style="max-width: 100%;" width="60">
      </a>
      <p>
        <a target="_blank" href="http://www.firefox.com.cn/download/" class="dl" ng-bind="'PAGE.INDEX.DOWNLOAD'|translate"></a>
      </p>
      <p ng-bind="'PAGE.INDEX.FIREFOX'|translate"></p>
    </div>
    <div class="col-md-6 col-sm-6" style="text-align: center;">
      <a target="_blank" href="http://www.google.cn/intl/zh-CN/chrome/browser/" title="Chrome">
        <img src="http://goodluck.qiniudn.com/chrome_256x256.png" style="max-width: 100%;" width="60">
      </a>
      <p>
        <a target="_blank" href="http://www.google.com/chrome" class="dl" ng-bind="'PAGE.INDEX.DOWNLOAD'|translate"></a>
      </p>
      <p ng-bind="'PAGE.INDEX.CHROME'|translate"></p>
    </div>
  </div>
</footer>
