<div class="col-md-3">
	<div ui-tree data-drag-enabled="false">
		<ol ui-tree-nodes="" ng-model="CtrlClient.rooms">
			<li ng-repeat="room in CtrlClient.rooms" ui-tree-node>
				<div ng-click="CtrlClient.chatTarget=room">
					{{room.name}} <i class="fa fa-comment"></i>
				</div>
				<ol ui-tree-nodes="" ng-model="room.cameras">
					<li ng-repeat="camera in room.cameras" ui-tree-node>
						<span>{{camera.name}}</span>
						<div class="pull-right btn-group">
							<button ng-if="!camera.opened" type="button" class="btn btn-info btn-xs" ng-click="connect(room,camera)">
								<i class="fa fa-copy"></i>
							</button>
							<button ng-if="camera.opened" type="button" class="btn btn-danger btn-xs" ng-click="disconnect(room,camera)">
								<i class="fa fa-remove"></i>
							</button>
						</div>
					</li>
				</ol>
			</li>
		</ol>
	</div>
</div>
<div class="col-md-9">
	<div ng-repeat="room in CtrlClient.rooms" class="col-md-12">
		<video ng-if="Streams.map[camera.id]" ng-repeat="camera in room.cameras" src="{{Streams.map[camera.id]}}" autoplay></video>
	</div>
</div>

<irontec-simple-chat
messages="CtrlClient.chats"
username="CtrlClient.username"
to="CtrlClient.chatTarget.name"
input-placeholder-text="You can write here"
submit-button-text="Send"
title="Chat"
theme="material"
submit-function="CtrlClient.chat"></irontec-simple-chat>