<div class="ngdialog-message">
	<h3 sidenav-ignore ng-bind="'PAGE.ROOMS.NEW_IPCAM.TITLE'|translate"></h3>
	<p>
		<span ng-bind="::ngDialogData.room.Name"></span>/
		<span ng-bind="ngDialogData.ipcam.Id"></span>
	</p>
</div>
<form name="manageNewIpcam">
	<div class="form-group">
		<label>
			<span ng-bind="'PAGE.ROOMS.SET_IPCAM.ID'|translate"></span>
			<span class="text-danger" ng-hide="manageNewIpcam.id.$valid">*</span>
			<input ng-model="ngDialogData.ipcam.Id" required ng-maxlength="12" type="text" class="form-control" name="Id">
		</label>
	</div>
	<div class="form-group">
		<label>
			<span ng-bind="'PAGE.ROOMS.SET_IPCAM.URL'|translate"></span>
			<span class="text-danger" ng-hide="manageNewIpcam.url.$valid">*</span>
			<input ng-model="ngDialogData.ipcam.Url" required type="text" class="form-control" name="Url">
		</label>
	</div>
	<div class="checkbox">
		<label>
			<input ng-model="ngDialogData.ipcam.AudioOff" type="checkbox" name="AudioOff">
			<span ng-bind="'PAGE.ROOMS.SET_IPCAM.AUDIO_OFF'|translate"></span>
		</label>
	</div>
	<div class="checkbox">
		<label>
			<input ng-model="ngDialogData.ipcam.Off" type="checkbox" name="Off">
			<span ng-bind="'PAGE.ROOMS.SET_IPCAM.TURN_OFF'|translate"></span>
		</label>
	</div>
	<div class="ngdialog-buttons">
		<button type="submit" class="ngdialog-button ngdialog-button-primary" ng-disabled="!manageNewIpcam.$valid" ng-click="confirm(ngDialogData.ipcam)">
			<span ng-bind="'BTN.OK'|translate"></span>
		</button>
		<button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog()">
			<span ng-bind="'BTN.NO'|translate"></span>
		</button>
	</div>
</form>
