<div class="ngdialog-message">
	<h3>Edit Ipcam</h3>
	<p>
		<span ng-bind="::ngDialogData.room.name"></span>/<span ng-bind="::ngDialogData.ipcam.name"></span>
	</p>
</div>
<form>
	<div class="form-group">
		<label>Name
			<input ng-model="ngDialogData.ipcam.name" required type="text" class="form-control">
		</label>
	</div>
	<div class="form-group">
		<label>Url
			<input ng-model="ngDialogData.ipcam.url" required type="url" class="form-control">
		</label>
	</div>
	<div class="checkbox">
		<label>
			<input ng-model="ngDialogData.ipcam.off" type="checkbox">
			Turn Off </label>
	</div>
	<div class="ngdialog-buttons">
		<button type="submit" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(ngDialogData.ipcam)">
			Confirm
		</button>
		<button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog()">
			Cancel
		</button>
	</div>
</form>