<div class="ngdialog-message">
	<h3>Set Room Name</h3>
	<p>
		Old name is: <span ng-bind="ngDialogData.name"></span>
	</p>
</div>
<form>
	<div class="form-group">
		<label> Enter the new room name here:
			<input ng-model="confirmValue" type="text" class="form-control" placeholder="Username" required>
		</label>
	</div>
	<div class="ngdialog-buttons">
		<button type="submit" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(confirmValue)">
			Confirm
		</button>
		<button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog()">
			Cancel
		</button>
	</div>
</form>