<!DOCTYPE html>
<html ng-app="[[module]]" lang="zh_CN">
    <head>
        <meta charset="utf-8">

        <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
        Remove this if you use the .htaccess -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>监控中心</title>
        <meta name="description" content="监控中心">
        <meta name="author" content="savage">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">

        <!-- jsdelivr-css -->

        <!-- head:css -->
        <!-- endinject -->
        <link rel="stylesheet" href="/css/[[module]].css" />

        <!-- head:js -->
        <!-- only importantFile.js will be injected here -->
        <!-- endinject -->

        <!-- jsdelivr-js -->
    </head>

    <body>
        <div ng-controller="IndexHeaderCtrl" class="navbar navbar-default navbar-fixed-top">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-3">
                        <span class="sr-only">菜单</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand"><i class="fa fa-home"> </i> 首页</span>
                </div>
                <nav class="hidden-xs">
                    <ul class="nav navbar-nav">
                        <li ng-class="active(nav)" ng-repeat="nav in navs">
                            <a href="#{{nav.when}}"><span ng-bind="nav.display"></span></a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/reg-room.html">注册监控室</a>
                        </li>
                        <li>
                            <a href="/join.html">加入监控室</a>
                        </li>
                        <li>
                            <a href="/logout">退出</a>
                        </li>
                    </ul>
                </nav>
                <nav class="visible-xs" collapse="!isCollapsed">
                    <ul class="nav navbar-nav">
                        <li ng-class="active(nav)" ng-repeat="nav in navs">
                            <a ng-click="$parent.isCollapsed = !$parent.isCollapsed" href="#{{nav.when}}"><span ng-bind="nav.display"></span></a>
                        </li>
                        <li>
                            <a href="/logout">退出</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="header-placeholder"></div>
        <toaster-container></toaster-container>

        <div class="container" ng-view></div>
        <footer class="container">
            <p>
                &copy; Copyright  by savage
            </p>
        </footer>
        <script src="/ng/sys-data.js"></script>
        <script src="/js/templates.js"></script>
        <script src="/js/[[module]].js"></script>
    </body>
</html>
