<!DOCTYPE html>
<html ng-app="join" lang="zh_CN">
	<head>
		<meta charset="utf-8">

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>Join room</title>
		<meta name="author" content="savage">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">

		<!-- jsdelivr-css -->

		<!-- head:css -->
		<!-- endinject -->
		<link rel="stylesheet" href="/css/join.css" />

		<!-- head:js -->
		<!-- only importantFile.js will be injected here -->
		<!-- endinject -->

		<!-- jsdelivr-js -->
	</head>

	<body>
		<div class="navbar navbar-default navbar-fixed-top">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/"><i class="fa fa-home"> </i> 首页</a>
				</div>
			</div>
		</div>
		<div class="header-placeholder"></div>

		<div ng-controller="JoinMainCtrl" class="container">
			<h3>加入监控室</h3>
			<form>
				<div class="form-group">
					<label> Enter the room id:
						<input ng-model="invite.room" type="number" class="form-control" required>
					</label>
				</div>
				<div class="form-group">
					<label> Enter the invite code:
						<input ng-model="invite.code" type="text" class="form-control" required>
					</label>
				</div>
				<button type="submit" class="btn btn-default" ng-click="join(invite)">
					OK
				</button>
				<button type="reset" class="btn btn-default">
					Cancel
				</button>
			</form>
		</div>

		<footer class="container">
			<p>
				&copy; Copyright  by savage
			</p>
		</footer>
		<script src="/js/join.js"></script>
	</body>
</html>
